@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #d22e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

iframe {
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 15vw;
    max-width: 200px;
    border: 1px solid white;
    border-radius: 50%;
}

#local-anchor {
    text-decoration: none;
    color: inherit;
    transition: all 1s ease;
}

#local-anchor:hover {
    text-decoration: underline;
}

#products {
    transition: all 1s;
}

#carrinho {
    position: relative;
    display: flex;
    padding: 1vw;
    align-items: start;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 95vw;
    border-radius: 3px;
    background-color: #90181a;
    line-height: 2.5rem;
    list-style: none;
    flex-direction: column;
    margin-bottom: 5vw;
}

#li-div {
    margin-bottom: 1vw;
    max-width: 80%;
}

.new-item {
    margin-bottom: 1vw;
}

#carrinho>h2 {
    align-self: center;
}

#total-tracker {
    position: absolute;
    align-self: end;
    color: white;
    font-size: 2rem;
    bottom: 1vw;
    /* width: 20%; */
}

#copy-button {
    width: 16vw;
    height: 4vw;
    max-height: 62.5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    margin-bottom: 2vw;
    transition: 0.2s ease all;
    background-color: #5a1113;
    box-shadow: 0 5px #230606;
    bottom: -4vw;
    align-self: center;
}

#carrinho-div {
    display: flex;
    flex-direction: column;
}

#carrinho-info {
    align-self: center;
    font-size: 1.3rem;
}

#products-form {
    width: 95vw;
}

#products-ul {
    width: 100% - 4vw;
    list-style: none;
    background-color: #90181a;
    padding: 2vw;
    margin: 0;
    border-radius: 5px;
    font-size: 1.5em;
    column-count: 4;
}

#products-ul li {
    margin-bottom: 5px;
}

form label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden-input {
    display: none;
}

.white-line {
    width: 95vw;
    border: 1px solid white;
    margin-top: 16px;
}

.product-header {
    min-width: 95vw;
    display: flex;
    flex-direction: column;
}

.products-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-top: 32px;
}

.product-section {
    width: 18.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2.5vw;
    background-color: #90181a;
    border-radius: 5px;
    padding: 2vw 0;
    margin-bottom: 5vw;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
}

.product-img {
    width: 16vw;
    height: 16vw;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    margin-bottom: 1vw;
    cursor: pointer;
    object-fit: cover;
}

.product-img:hover {
    transform: scale(110%);
}

.product-name {
    width: 90%;
    margin: 20px;
    line-height: 2.8rem;
}

.product-brand {
    width: 90%;
    margin: 0;
}

.product-price {
    margin-right: 2.35vw;
    display: inline;
    align-self: flex-end;
    border-bottom: 3px solid #d22e2e;
}

.counter-section {
    display: flex;
    justify-content: space-evenly;
}

#number-count {
    text-align: center;
    background-color: #d22e2e;
    color: white;
    box-shadow: 0 3px #5a1113;
    border: none;
    width: 5vw;
    height: 2.5vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.2rem;
}

.arrow-up {
    width: 2.3vw;
    height: 2.3vw;
    cursor: pointer;
}

.arrow-down {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

.buy-button {
    width: 16vw;
    height: 4vw;
    max-height: 62.5px;
    background-color: #d22e2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease all;
    box-shadow: 0 5px #5a1113;
}

.buy-button:active,
#copy-button:active {
    transform: translateY(4px);
    box-shadow: 0 3px #5a1113;
}

@keyframes append {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation {
    animation: append .3s ease;
}

/* remover setinhas padrão dos input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}