@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #d22e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

iframe {
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav-div a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-div a:hover, #local-anchor:hover, #catalogo-heading > h2:hover, form label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.redesocial {
    width: 45px;
}

.contato {
    font-size: 2.5rem;
}

#logo {
    width: 12vw;
    max-width: 200px;
    border: 1px solid white;
    border-radius: 50%;
}

header>h2 {
    text-align: center;
}

#local-heading {
    margin: 50px 0;
}

#local-anchor {
    text-decoration: none;
    color: inherit;
    transition: all 1s ease;
}

#heading1 {
    font-size: 3rem;
    margin: 50px 0 30px 0;
}

#products {
    transition: all 1s;
}

#avisos>h3 {
    margin: 0;
}


.no-opacity {
    opacity: 0;
}

.no-opacity-position {
    opacity: 0;
    position: absolute;
}

#map-iframe {
    width: 95vw;
}

#products-form {
    width: 95vw;
}

.rotate {
    transform: rotate(180deg)
}

#catalogo-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
}

#catalogo-heading>h2 {
    margin: 20px 0 20px 0;
    cursor: pointer;
}


.none {
    display: none;
}

#products-ul,
#services-ul {
    width: 100% - 4vw;
    list-style: none;
    background-color: #90181a;
    padding: 2vw;
    margin: 20px 0 0 0;
    border-radius: 5px;
    font-size: 1.5em;
    column-count: 4;
    transition: opacity 1s ease;
}

#services-ul {
    column-count: 1;
    line-height: 2em;
}

#products-ul li {
    margin-bottom: 5px;
}

.hidden-input {
    display: none;
}

.white-line {
    width: 95vw;
    border: 1px solid white;
    margin: 20px 0;
}

.product-header {
    min-width: 95vw;
    display: flex;
    flex-direction: column;
}

.services-header {
    min-width: 95vw;
}

.products-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin-top: 32px;
}

.product-section {
    width: 28.66vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 1.5vw;
    background-color: #90181a;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 5%;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
}

.img-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    object-fit: cover;
    margin: 1vw;
}

.product-bio {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

.product-name {
    margin: 7% 0;
    line-height: 2.8rem;
    font-size: 1.8em;
}

.product-brand {
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
}

.product-price {
    margin: 6% 10% 6% 0;
    display: inline;
    align-self: flex-end;
    border-bottom: 3px solid #d22e2e;
}

.chosen {
    text-decoration: underline; 
}

@keyframes append {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation {
    animation: append .3s ease;
}

@media screen and (max-width: 1450px) {
    .product-section {
        width: 43.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .product-img {
        width: 20vw;
        height: 20vw;
    }
}


@media screen and (max-width: 1300px) {
    #products-ul {
        column-count: 3;
    }

    .contato {
        font-size: 1.8rem;
    }

    .redesocial {
        width: 35px;
    }

@media screen and (max-width: 924px) {
    #products-ul {
        column-count: 2;
        line-height: 2rem;
    }
    .product-section {
        width: 89vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .product-img {
        width: 30vw;
        height: 30vw;
        margin: 3vw;
    }
    .nav-div, #local-anchor {
        text-decoration: underline; 
    }
}


@media screen and (max-width: 924px) {
    #products-ul {
        column-count: 2;
    }

    #carrinho-info {
        font-size: 1rem;
    }

    #copy-button {
        width: 32%;
    }
}


@media screen and (max-width: 768px) {
    #local-anchor {
        font-size: 1.5rem;
    }
    #logo {
        width: 100px;
    }
    .contato {
        font-size: 1.6rem;
    }

    .redesocial {
        width: 25px;
    }

    #li-div {
        margin-bottom: 10vw;
    }
    #catalogo-heading {
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 588px) {
    #local-anchor {
        font-size: 2rem;
    }

    .contato {
        font-size: 1.4rem;
    }
    .product-section {
        flex-direction: column;
    }
    .product-img {
        width: 80vw;
        height: 80vw;
    }
    .product-name, .product-brand {
        text-align: center;
    }
    .product-brand {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 488px) {
    #products-ul {
        column-count: 1;
    }
    .contato {
        font-size: 1.8rem;
        margin: 12px 0;
    }
    #logo {
        width: 200px;
    }

    .redesocial {
        width: 20px;
    }
    .nav-div {
        flex-direction: column;
    }
}
@media screen and (max-width: 374px) {
    .product-section {
        margin: 5vw;
    }
}
}